# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Vim files
*.swp
tags
*~
.ycm_extra_conf.pyc

# Output directory
bin/
jeayeson

# Compiled Static libraries
*.lai
*.la
*.a

# Make
.build_*

